<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>My Cartella Cardiologica Virtuale</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Reference Bootstrap files -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link th:href="@{/static/css/login.css}" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


	<div class="login-wrap">
		<div class="login-html">

			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
				for="tab-1" class="tab">Log in</label> <input id="tab-2"
				type="radio" name="tab" class="sign-up"><label for="tab-2"
				class="tab">Registrazione</label>
			<div class="login-form">
				<div class="sign-in-htm">

					<form th:action="@{/authenticateTheUser}" method="POST">
						<div class="group">
							<label for="user" class="label">Username</label> <input id="user"
								type="text" name="username" placeholder="username" class="input">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label> <input id="pass"
								type="password" name="password" placeholder="password"
								class="input" data-type="password">
						</div>

						<div class="group">
							<input type="submit" class="button" value="Sign In">
						</div>
						<div class="hr"></div>
						<div class="foot-lnk"></div>
					</form>
					<div class="form-group">
					<div class="col-xs-15">
						<div>

							<!-- Check for login error -->
							<div th:if="${param.error}"
								class="alert alert-danger col-xs-offset-1 col-xs-10">
								Username and password non validi.</div>

							<!-- Check for logout -->
							<div th:if="${param.logout}"
								class="alert alert-success col-xs-offset-1 col-xs-10">Log
								out con successo.</div>

							<!-- Check for logout -->
							<div th:if="${registrationSuccess}"
								class="alert alert-success col-xs-offset-1 col-xs-10">
								Registrazione avvenuta con successo.</div>
						</div>
					</div>
				</div>
				</div>
				<div class="sign-up-htm">

					<!-- Registration Form -->
					<form th:action="@{/registrazione/processRegistrazioneForm}"
						th:object="${tsUser}" method="POST" class="form-horizontal">

						<!-- Place for messages: error, alert etc ... -->
						<div class="form-group">
							<div class="col-xs-15">
								<div>

									<!-- Check for registration error -->
									<div th:if="${registrationError}"
										class="alert alert-danger col-xs-offset-1 col-xs-10">
										<span th:text="${registrationError}"></span>
									</div>

								</div>
							</div>
						</div>

						<!-- User name -->
						<div style="margin-bottom: 25px" class="group">

							<input type="text" th:field="*{username}"
								placeholder="Codice Fiscale (*)" class="input" />
						</div>

						<div th:if="${#fields.hasErrors('username')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('username')}"
									th:text="'User name ' + ${err}" />
							</ul>
						</div>


						<!-- Password -->
						<div style="margin-bottom: 25px" class="group">

							<input type="password" th:field="*{password}"
								placeholder="password (*)" class="input"
								th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('password')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('password')}"
									th:text="'Password ' + ${err}" />
							</ul>
						</div>

						<!-- Confirm Password -->
						<div style="margin-bottom: 25px" class="group">

							<input type="password" th:field="*{matchingPassword}"
								placeholder="confirm password (*)" class="input"
								th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('matchingPassword')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('matchingPassword')}"
									th:text="'Password ' + ${err}" />
							</ul>
						</div>


						<!-- First name -->
						<div style="margin-bottom: 25px" class="group">

							<input type="text" th:field="*{nome}" placeholder="Nome (*)"
								class="input" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('nome')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('nome')}"
									th:text="'Nome ' + ${err}" />
							</ul>
						</div>

						<!-- Last name -->
						<div style="margin-bottom: 25px" class="group">

							<input type="text" th:field="*{cognome}"
								placeholder="Cognome (*)" class="input"
								th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('cognome')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('cognome')}"
									th:text="'Cognome ' + ${err}" />
							</ul>
						</div>

						<!-- Genere -->
						<div style="margin-bottom: 25px" class="group">
							<input type="radio" th:field="*{genere}" value="M" />Maschile <input
								type="radio" th:field="*{genere}" value="F" />Femminile
						</div>


						<!-- Email -->
						<div style="margin-bottom: 25px" class="group">

							<input type="text" th:field="*{email}" placeholder="email (*)"
								class="input" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('email')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('email')}"
									th:text="'Email ' + ${err}" />
							</ul>
						</div>

						<!-- Cellulare -->
						<div style="margin-bottom: 25px" class="group">

							<input type="text" th:field="*{cellulare}"
								placeholder="Cellulare (*)" class="input"
								th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('cellulare')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('cellulare')}"
									th:text="'Cellulare ' + ${err}" />
							</ul>
						</div>

						<!-- Data di nascita -->
						<div style="margin-bottom: 25px" class="group">

							<input type="text" th:field="*{data_nascita}"
								placeholder="Data di nascita YYYY-MM-DD(*)" class="input"
								th:errorclass="fieldError" />

						</div>
						<div th:if="${#fields.hasErrors('data_nascita')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('data_nascita')}"
									th:text="'data_nascita ' + ${err}" />
							</ul>
						</div>

						<!-- Luogo di nascita -->
						<div style="margin-bottom: 25px" class="group">

							<input type="text" th:field="*{luogo_nascita}"
								placeholder="Luogo di nascita (*)" class="input"
								th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('luogo_nascita')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('luogo_nascita')}"
									th:text="'luogo_nascita ' + ${err}" />
							</ul>
						</div>

						<!-- Register Button -->
						<div style="margin-top: 10px" class="form-group">
							<div class="col-sm-6 controls">
								<button type="submit" class="btn btn-primary">Conferma</button>
							</div>
						</div>

					</form>


				</div>
				

			</div>

		</div>
	</div>


</body>
</html>
